@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Blogger</h1>
    <p class="lead">My Blogger is a blog system for people with different interests, who want to unleash their creative self.</p>
    <p>
        @Html.ActionLink("Try it!", "Register", new { controller = "Account" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Latest posts</h2>
        @Html.RenderPartial("LatestPosts")
    </div>
    <div class="col-md-6">
        <h2>Top posts</h2>
        @Html.RenderPartial("TopPosts")
    </div>
    
</div>