@using Microsoft.AspNet.Identity;

@model BlogSystem.Domain.Contracts.Entities.IComment

<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            @Model.Author.Name
            <small>@String.Format("Posted on {0:MM dd, yyyy} at {0:HH:mm}", Model.Date)</small>
        </h4>
        @Model.CommentText
        @if (this.User.Identity.GetUserId() == Model.Author.Id ||
                Model.Author.Id == Model.Post.Author.Id ||
                this.User.IsInRole(BlogSystem.Domain.Utils.GlobalConstants.AdministratorRole))
        {
            @Html.ActionLink(" ", "Delete",
           new { controller = "Comment", commentId = Model.CommentId, postId = Model.Post.PostId },
           new { @class = "pull-right glyphicon glyphicon-trash" })
        }

    </div>
</div>